/* src/index.css */
@import 'tailwindcss';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

/* App's main stylesheet */

/* Utility to hide native scrollbar but keep scroll functionality */
body {
    overflow: auto;
}
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* WebKit browsers */
::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}
